<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading:</h3>
    <span>{{check_select}}</span>
  </header>
  <main>
    <div>
        {% for items in return_data  %}
            {% for i in items  %}
                <h3> <a href="{{i.link}}">{{i.title}}</a></h3>
                <h4> Upvlote : {{i.point}} / {{i.checked}}</h4>
            {% endfor %}
        {% endfor %}
    </div>
    
  </main>
  
</body>

</html>